<div [ngClass]="{
  'strip-player':makePlayerNaked
  }" (mousemove)="detectMousePresence()" class="video-player">

    <div class="video-player__top-bar video-topbar">
        <app-top-bar [title]="media?.name"></app-top-bar>
    </div>

    <div style="cursor: pointer;" (click)="togglePlayerMode()">
        <video (playing)="playListener()" (waiting)="bufferListener()" (loadedmetadata)="endedListener()" (ended)="endedListener()" (volumechange)="volumeChangeListener()" (timeupdate)="timeUpdateListener()" (loadeddata)="loadedDataListener()" (pause)="pauseListener()"
            class="video-player__widget" #videoWidget>
    </video>
        <div [ngStyle]="{
          'opacity': videoIsBuffering?'1':'0'
          }" class="video-player__scrim"> <span>
            <i class="fa fa-spinner fa-pulse"></i>
          </span></div>


    </div>


    <div class="video-player__control video-control">
        <app-control-bar (pictureQualityChanged)="pictureQualityChanged($event)" (togglePlayerMode)="togglePlayerMode()" (volumeBarChanged)="volumeBarChanged($event)" (seekbarChanged)="seekbarChanged($event)" [controlConfig]="controlConfig"></app-control-bar>
    </div>

</div>