@import "../../../../styles/abstract/variables";
.top-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $color-primary;
}
