/////////////////////colours//////////////////
$color-primary:#23ce6b;
$color-primary--dark:darken($color-primary, 25%);
$color-primary--mild-dark:darken($color-primary, 5%);
$color-black:#5A5A5A;
$color-white:#ffffff;
$color-off-white:#edf2f4;
$color-secondary:#6FCF97;
/////////////////////////font size////////////////////////////
$font-size-large: 2.4rem;
$font-size-medium:1.8rem;
$font-size-regular:1.4rem;
$font-size-small: 1.1rem;
$font-size-tiny:0.9rem;
