<div class="control-bar">

    <div>
        <app-video-seekbar (videoSeekBarChanged)="mediaDurationChanged($event)" [heightInPx]="5" [progressInPercent]="controlConfig.mediaCurrentTimePercent" [bufferInPercent]="controlConfig.bufferedTimePercent"></app-video-seekbar>
    </div>

    <div class="control-bar__bottom">

        <div class="control-bar__left">

            <div class="control-bar__playback-controls">
                <button (click)="toggleAction()" #actionButton [ngClass]="{
        'play':!controlConfig.isPlaying,
        'pause': controlConfig.isPlaying
        }" class="control-bar__action-button control-btn play">
      <i class="fa fa-play overlay-icon play-icon"></i>
      <i class="fa fa-pause overlay-icon pause-icon"></i>
    </button>

            </div>

            <div class="control-bar__volume">

                <app-volume-control (volumeBarChanged)="volumeLevelChanged($event)" [volumeLevelInPercent]="controlConfig.volumeLevelPercent"></app-volume-control>

            </div>

        </div>


        <div class="control-bar__right">
            <div class="control-bar__picture-quality">
                <app-picture-quality-control (pictureQualityChanged)="qualityChanged($event)" [qualityLevels]="controlConfig.qualityLevels" [currentQualityHeight]="controlConfig.currentQualityHeight"></app-picture-quality-control>
            </div>
            <div class="control-bar__video-timings">
                <div #mediaCurrentTime class="control-bar__start-time time">{{controlConfig.mediaCurrentTime | hourminutesecond}}
                </div>
                /
                <div #mediaDuration class="control-bar__end-time time">{{controlConfig.mediaDuration | hourminutesecond}}</div>
            </div>
        </div>

    </div>
</div>