@import "../../../../styles/abstract/variables";
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-bar {
    background-color: $color-primary;
    .overlay-icon {
        position: absolute;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__picture-quality {
        margin-right: 2rem;
    }
    .control-btn {
        padding: 0;
        height: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        width: 4rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: transparent;
        color: $color-primary--dark;
        ;
        outline: 0;
        cursor: pointer;
        &:hover {
            color: $color-off-white;
            background-color: $color-primary--mild-dark;
        }
    }
    &__playback-controls {
        display: flex;
        height: 4rem;
        align-items: center;
    }
    &__action-button {
        &.play {
            .pause-icon {
                display: none;
            }
        }
        &.pause {
            .play-icon {
                display: none;
            }
        }
    }
    &__volume-control {
        width: 10rem;
        display: flex;
        align-items: center;
        margin-right: .4rem;
    }
    &__video-timings {
        display: flex;
        color: $color-primary--dark;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: auto;
        padding: 0 .4rem;
        .time {
            width: 7rem;
            text-align: center;
        }
    }
}
