.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-bar {
    background-color: #23ce6b;
    .overlay-icon {
        position: absolute;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__seekbar {
        width: 100%;
        height: 5px;
        background-color: darken(#23ce6b, 25%);
        cursor: pointer;
        overflow: hidden;
        position: relative;
    }
    &__progress {
        background-color: #edf2f4;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 2;
        transition: all ease 0.25s;
    }
    &__buffer {
        background-color: #ffffff52;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: all ease 0.25s;
    }
    &__picture-quality {
        color: darken(#23ce6b, 30%);
        margin-right: 20px;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        &-num {
            display: inline-block;
            margin-right: 5px;
            font-weight: 500;
            cursor: pointer;
        }
        &-select {
            opacity: 0;
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__quality-list {
        background-color: #e0e0e0e0;
        position: absolute;
        z-index: 6;
        top: -500%;
    }
    .control-btn {
        padding: 0;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        width: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: transparent;
        color: darken(#23ce6b, 25%);
        ;
        outline: 0;
        cursor: pointer;
        &:hover {
            color: #edf2f4;
            background-color: darken(#23ce6b, 5%);
        }
    }
    &__playback-controls {
        display: flex;
        height: 40px;
        align-items: center;
    }
    &__action-button {
        &.play {
            .pause-icon {
                display: none;
            }
        }
        &.pause {
            .play-icon {
                display: none;
            }
        }
    }
    &__volume-toggle {
        &.on {
            .volume-off {
                display: none;
            }
        }
        &.off {
            .volume-on {
                display: none;
            }
        }
    }
    &__volume-control {
        width: 100px;
        display: flex;
        align-items: center;
        margin-right: 4px;
    }
    &__video-timings {
        display: flex;
        color: darken(#23ce6b, 25%);
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        margin-left: auto;
        padding: 0 4px;
        .time {
            width: 70px;
            text-align: center;
        }
    }
}

.video {
    &-controls {
        .seekbar {
            .progress {}
        }
        .video-playback-controls {}
        //play pause button
        .toggle-play-pause {
            &.play {
                .pause-icon {
                    display: none;
                }
            }
            &.pause {
                .play-icon {
                    display: none;
                }
            }
        }
        .toggle-volume {
            &.on {
                .volume-off {
                    display: none;
                }
            }
            &.off {
                .volume-on {
                    display: none;
                }
            }
        }
        .video-volume-control {
            width: 100px;
            display: flex;
            align-items: center;
            margin-right: 4px;
        }
        .video-timings {
            display: flex;
            color: var(--player-controls);
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            margin-left: auto;
            padding: 0 4px;
            .time {
                width: 70px;
                text-align: center;
            }
        }
    }
    &-player.hide-controls {
        .video-topbar {
            transform: translateY(-100%);
        }
        .video-controls {
            transform: translateY(100%);
        }
    }
}

.container {
    padding-top: 40px;
    height: calc(100% - 40px);
}

.top-info {
    font-family: 'Teko', sans-serif;
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 6px;
    text-align: center;
    background-color: #272d2d;
    color: #ffffff;
}